<div [ngClass]="{ visible: !hide}"
     class="search filter-block">
  <div (click)="hide=!hide" class="filter-toggle d-flex flex-row">
    <a href="#">
      <i [ngClass]="{ 'fa-eye': hide, 'fa-eye-slash': !hide}" class="fas"></i>
    </a>
    <h6>search area(s)</h6>
  </div>


  <div *ngIf="!hide"
       class="input-group input-group-sm mb-3">
    <input
      [(ngModel)]="search"
      (keyup)="broadcast()"
      type="text"
      placeholder="Type to search areas"
      class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

    <div class="input-group-append">
      <button (click)="search=''; broadcast()"
              class="btn btn-outline-secondary" type="button" id="button-addon2">
        Clear
      </button>
    </div>
  </div>
</div>
