<div [ngClass]="{ visible: !hide}"
     class="weekdays filter-block">

  <div (click)="hide=!hide" class="filter-toggle d-flex flex-row">
    <a href="#">
      <i [ngClass]="{ 'fa-eye': hide, 'fa-eye-slash': !hide}" class="fas"></i>
    </a>
    <h6>weekdays</h6>
  </div>

  <div *ngIf="!hide" class="weekday-list">
    <div *ngFor="let weekday of weekdays; index as i" class="form-check form-check-inline weekday">
      <input [(ngModel)]="selected[weekday]" (change)="broadcast()"
             class="form-check-input" type="checkbox" id="checkbox-{{ i }}">
      <label class="form-check-label text-capitalize" for="checkbox-{{ i }}">
        {{ weekday }}
      </label>
    </div>
  </div>
</div>
