/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

.filter-block.visible {
  margin-bottom: 20px;
}

.filter-toggle .fas {
  margin-right: 10px;
}


.filter-block .filter-toggle {
  margin-left: 10px;
}
