<div [ngClass]="{ visible: !hide}"
     class="schedule filter-block">

  <div (click)="hide=!hide" class="filter-toggle d-flex flex-row">
    <a href="#">
      <i [ngClass]="{ 'fa-eye': hide, 'fa-eye-slash': !hide}" class="fas"></i>
    </a>
    <h6>date and time</h6>
  </div>

  <div *ngIf="!hide">

    <div class="input-group input-group-sm mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text">Start Time</span>
      </div>

      <input
        [(ngModel)]="schedule.timeStart"
        (change)="broadcast()"
        type="time"
        class="form-control"
        placeholder="09:00">
    </div>

    <div class="input-group input-group-sm mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text">Finish Time</span>
      </div>

      <input
        [(ngModel)]="schedule.timeFinish"
        (change)="broadcast()"
        type="time"
        class="form-control"
        placeholder="09:00">
    </div>

    <div class="input-group input-group-sm mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text">Start Date</span>
      </div>

      <input
        [(ngModel)]="schedule.dateStart"
        (change)="broadcast()"
        type="date"
        class="form-control">
    </div>

    <div class="input-group input-group-sm mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text">Finish Date</span>
      </div>

      <input
        [(ngModel)]="schedule.dateFinish"
        (change)="broadcast()"
        type="date"
        class="form-control">
    </div>
  </div>
</div>
