<div class="locums">

  <div class="loading" *ngIf="loading">
    <app-spinner></app-spinner>
    <h3>Loading locums...</h3>
  </div>

  <div *ngIf="!loading && locumsAvailable?.length === 0">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Oops!</h4>
      <p>Sorry, we couldn't find any locums available.</p>
      <hr>
      <p class="mb-0">
        Feel free <a href="#" (click)="getLocums()" class="alert-link">try again</a> later.
      </p>
    </div>
  </div>

  <div *ngIf="locumsAvailable?.length" class="text-lg-center">
    <div (click)="hideFilters=!hideFilters" class="filter-toggle d-flex flex-row">
      <a href="#">
        <i [ngClass]="{ 'fa-eye': hideFilters, 'fa-eye-slash': !hideFilters}" class="fas"></i>
      </a>
      <h5 [hidden]="!hideFilters">show filters</h5>
      <h5 [hidden]="hideFilters">hide filters</h5>
    </div>

    <div [hidden]="hideFilters">
      <app-weekdays (weekdaysUpdate)="filterWeekdays($event)"></app-weekdays>
      <app-schedule (scheduleUpdate)="filterSchedule($event)"></app-schedule>
      <app-search-area (searchUpdate)="filterSearchTerm($event)"></app-search-area>
    </div>
  </div>

  <div *ngIf="locumsAvailable?.length" class="locums-available">
    <div class="text-left total-jobs">
      {{ (locums | search:'area,area2':searchTerm).length }} out of {{ locumsAvailable.length }} locums available.
    </div>

    <div class="table-responsive">
      <table class="table table-sm table-striped table-dark table-hover">
        <caption>
          {{ (locums | search:'area,area2':searchTerm).length }} out of {{ locumsAvailable.length }} locums available.
        </caption>
        <thead>
          <tr class="text-capitalize">
            <th>
              <a href="#" class="click-me" (click)="applySorting('id')">id</a>
            </th>
            <th>
              <a href="#" class="click-me" (click)="applySorting('area')">area</a>
            </th>

            <th>
              <a href="#" class="click-me" (click)="applySorting('day')">Day</a>
            </th>
            <th>
              <a href="#" class="click-me" (click)="applySorting('startTime')">Start</a>
            </th>
            <th>
              <a href="#" class="click-me" (click)="applySorting('finishTime')">Finish</a>
            </th>
            <th>
              <a href="#" class="click-me" (click)="applySorting('rate')">Rate</a>
            </th>
            <th>
              <a href="#" class="click-me" (click)="applySorting('system')">System</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let locum of locums | search:'area,area2':searchTerm">
            <td>{{ locum.id }} </td>
            <td>
              <a href="{{ getMapUrl(locum) }}" target="_blank">{{ locum.area }}<span *ngIf="locum.area2?.length">, {{
                  locum.area2 }}</span></a>
            </td>

            <td>
              <!--Hidden only on xs-->
              <span class="d-none d-sm-block">{{ locum.dateStart | date:'EEE d MMM yyyy' }}</span>

              <!--Visible only on xs-->
              <span class="d-block d-sm-none">{{ locum.dateStart | date:'d/MM/yyyy' }}</span>
            </td>
            <td>{{ locum.dateStart | date:'HH:mm' }}</td>
            <td>{{ locum.dateFinish | date: 'HH:mm' }}</td>
            <td>{{ locum.rate | currency:'€' }}</td>
            <td>{{ locum.system }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
